.gallery__pagination {
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.dot {
  display: inline-block;
  width: 3rem;
  height: 5px;
  margin-left: 4px;
  margin-right: 4px;
  background: white;
}
.dot:hover{
  cursor: pointer;
}
.dot-active {
  background: #f4c71b;
}
.prev-slide, .next-slide, .services__navigation-left, .services__navigation-right {
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 1.6rem;
  border: none;
  background: #f4c71b;
  text-align: center;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 100;
  
}
.prev-slide {
  left: 2rem;
}
.next-slide {
  right: 2rem;
}
.services__navigation-right {
  top: -2.5rem;
  left: -0.7rem;
}
.services__navigation-left {
  top: -2.5rem;
  right: -0.7rem;
}
#gallery .wrapper {
  position: relative;
  height: 400px;
}
.gallery-slider>.slide{
  position: absolute;
  height: auto;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
 transition: opacity .5s
 
}
.gallery-slider>.slide-active{
  position: absolute;
  opacity: 1;
  transition: opacity .5s
}
#services .wrapper2{
  position: relative;
  max-width: 1170px;
  margin: auto;
}
.ul-club-select {
  display: block
  !important;
}


 
  
 

  
